.wrapper {
    display: flex;
}

.navigation {
    width: 200px;
    background-color: #c0e4fa;
    padding: 20px;
    position: fixed;
    height: 100%;
    overflow-y: auto; 
    border: 2px solid #b0d6ff;
    border-radius: 10px;
    padding: 10px;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
}

.navigation li {
    margin-bottom: 10px;
}

.navigation a {
    font-family: 'Marhey', 'Arial', sans-serif;
    color: #082a4d;
    font-weight: bold;
    font-size: 1.2rem;
}

.navigation a:hover {
    color: #0056b3;
}

.content {
    flex: 1;
    padding: 20px;
    margin-left: 220px;
    background-color: #f8f9fa;
}
